<ion-content [fullscreen]="true">
  <button class="btn_llamada">
    <ion-icon name="call"></ion-icon>
  </button>
<ion-grid class="ion-no-padding">
  <ion-row class="ion-justify-content-center ion-no-margin">
    <ion-col size="9" class="ion-text-center">
      <h6 class="hora">08:11 am</h6>
      <p class="fecha">31 de Febrero 2020</p>
    </ion-col>
    <ion-col size="12" size-md="10">
      <h5 class="ion-text-center font_subtitulo">Checklist carga</h5>
      <p class="font_cliente ion-text-center">Informa cuando estes listo</p>
    </ion-col>
    <ion-col size="12" size-sm="6" size-lg="5">
      <button class="btn_inicio_ruta">Inicio de ruta</button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>


