<ion-content [fullscreen]="true">
  <button class="btn_llamada">
    <ion-icon name="call"></ion-icon>
  </button>
<ion-grid class="ion-no-padding">
  <ion-row class="ion-justify-content-center ion-no-margin">
    <ion-col size="9" class="ion-text-center">
      <h6 class="hora">08:11 am</h6>
      <p class="fecha">31 de Febrero 2020</p>
    </ion-col>
    <ion-col size="12" size-md="10">
      <h5 class="ion-text-center font_subtitulo">Picking 09:00</h5>
      <p class="font_cliente ion-text-center">Lista de clientes</p>
    </ion-col>
    <ion-col size="12" size-md="10" class="ion-no-padding">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-sm="6" size-lg="5" class="ion_padding_col">
          <ion-item>
            <div class="div_circulo ion-margin-start">
             1
            </div>
            <p class="ion-margin-start color_iguales"><span class="font_medium">La canasta supermercado</span><br><span class="font_ligth">Av la cultura 1231, Santa Monica</span></p>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="6" size-lg="5" class="ion_padding_col">
          <ion-item>
            <div class="div_circulo ion-margin-start">
             2
            </div>
            <p class="ion-margin-start color_iguales"><span class="font_medium">Orion marcavalle</span><br><span class="font_ligth">Av la cultura 1231, Santa Monica</span></p>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="6" size-lg="5" class="ion_padding_col">
          <ion-item>
            <div class="div_circulo ion-margin-start">
             3
            </div>
            <p class="ion-margin-start color_iguales"><span class="font_medium">Bodeguita A</span><br><span class="font_ligth">Av la cultura 1231, Santa Monica</span></p>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="6" size-lg="5" class="ion_padding_col">
          <ion-item>
            <div class="div_circulo ion-margin-start">
             4
            </div>
            <p class="ion-margin-start color_iguales"><span class="font_medium">Orion san Sebastián</span><br><span class="font_ligth">Av la cultura 1231, Santa Monica</span></p>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="6" size-lg="5" class="ion_padding_col">
          <ion-item>
            <div class="div_circulo ion-margin-start">
             5
            </div>
            <p class="ion-margin-start color_iguales"><span class="font_medium">Bodega bbb</span><br><span class="font_ligth">Av la cultura 1231, Santa Monica</span></p>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="6" size-lg="5" class="ion_padding_col">
          <ion-item>
            <div class="div_circulo ion-margin-start">
             6
            </div>
            <p class="ion-margin-start color_iguales"><span class="font_medium">Orion marcavalle</span><br><span class="font_ligth">Av la cultura 1231, Santa Monica</span></p>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="6" size-lg="5" class="ion_padding_col">
          <ion-item>
            <div class="div_circulo ion-margin-start">
             6
            </div>
            <p class="ion-margin-start color_iguales"><span class="font_medium">Orion marcavalle</span><br><span class="font_ligth">Av la cultura 1231, Santa Monica</span></p>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="6" size-lg="5" class="ion_padding_col">
          <ion-item>
            <div class="div_circulo ion-margin-start">
             6
            </div>
            <p class="ion-margin-start color_iguales"><span class="font_medium">Orion marcavalle</span><br><span class="font_ligth">Av la cultura 1231, Santa Monica</span></p>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="6" size-lg="5" class="ion_padding_col">
          <ion-item>
            <div class="div_circulo ion-margin-start">
             6
            </div>
            <p class="ion-margin-start color_iguales"><span class="font_medium">Orion marcavalle</span><br><span class="font_ligth">Av la cultura 1231, Santa Monica</span></p>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="6" size-lg="5" class="ion_padding_col">
          <ion-item>
            <div class="div_circulo ion-margin-start">
             6
            </div>
            <p class="ion-margin-start color_iguales"><span class="font_medium">Orion marcavalle</span><br><span class="font_ligth">Av la cultura 1231, Santa Monica</span></p>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="6" size-lg="5" class="ion_padding_col">
          <ion-item>
            <div class="div_circulo ion-margin-start">
             6
            </div>
            <p class="ion-margin-start color_iguales"><span class="font_medium">Orion marcavalle</span><br><span class="font_ligth">Av la cultura 1231, Santa Monica</span></p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<ion-tabs style="z-index: 99999;">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">Iniciar carga</ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

