<ion-content [fullscreen]="true">
    <button class="btn_llamada">
      <ion-icon name="call"></ion-icon>
    </button>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-no-margin">
      <ion-col size="9" class="ion-text-center">
        <h6 class="hora">08:11 am</h6>
        <p class="fecha">31 de Febrero 2020</p>
      </ion-col>
      <ion-col size="12" size-md="10">
        <h5 class="ion-text-center font_subtitulo">Carga de combustible</h5>
        <ion-select placeholder="Select One" class="color_select_input ion-padding-end" mode="ios">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>   
        <ion-input placeholder="Enter Input" class="color_select_input ion-padding-start ion-padding-end"></ion-input>
        <ion-input placeholder="Enter Input" class="color_select_input ion-padding-start ion-padding-end"></ion-input>
        <ion-input placeholder="Enter Input" class="color_select_input ion-padding-start ion-padding-end"></ion-input> 
      </ion-col>
      <ion-col size="12" size-sm="6" size-lg="4" class="ion-no-padding">
        <button class="btn_carga ion-padding-top ion-padding-bottom">Carga completa</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
