<ion-content [fullscreen]="true">
  <button class="btn_llamada">
    <ion-icon name="call"></ion-icon>
  </button>
<ion-grid>
  <ion-row class="ion-justify-content-center ion-no-margin">
    <ion-col size="9" class="ion-text-center">
      <h6 class="hora">08:11 am</h6>
      <p class="font_fecha">31 de Febrero 2020</p>
    </ion-col>
    <ion-col size="12" size-md="10">
      <h5 class="ion-text-center font_subtitulo">Hola Alberto</h5>
      <p class="ion-text-center fecha">Tus rutas asignadas para hoy</p>
    </ion-col>
    <ion-col size="12" size-sm="6" size-lg="4" class="ion-no-padding margin_bajar">
      <button class="btn_carga">Picking 09:00</button>
      <button class="btn_carga">Cardex</button>
      <button class="btn_carga">Vendedor</button>
    </ion-col>
  </ion-row>
</ion-grid>
<button class="btn_grifo">
  <img src="assets/img/grifo.png" alt="">
</button>
</ion-content>
